$yellow-color: #C8c037;

#div-info {
    a {
        @extend .impo;

        &:hover {
            text-decoration: underline;
        }
    }
}

.impo {
    color: $yellow-color;
    font-style: italic;
    font-weight: bold;
}